.App {
  text-align: center;
  background-color: antiquewhite;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.buttonClass{
  border-radius: 25%;
  height: 50px;
  width: 80px;
  margin: 50px;
  font-size: medium;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}
